form {
  display: grid;
  place-content: center;
}

.FormControl {
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.FormControl + .FormControl {
  margin-top: 1em;
}

.FormControl--disabled {
  color: #959495;
  cursor: not-allowed;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(109, 224, 115);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

// input[type="checkbox"]:focus {
//   outline: max(0.5px, 0.15em) solid currentColor;
//   outline-offset: max(2px, 0.15em);
// }

input[type="checkbox"]:disabled {
  --form-control-color: #949594;

  color: #959495;
  cursor: not-allowed;
}
