.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px 15px;
  gap: 15px;
  background: #f6f6f6;
  border-radius: 30px;
}