* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 10px 15px;
  max-width: 1540px;
}

.title {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  &:after {
    content: "";
    margin-top: 5px;
    background-color: #1976d2;
    height: 2px;
    display: block;
    width: 500px;
  }
}
