.Wrapper {
  width: 100%;
  background: #f6f6f6;
}

.BlockItems {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
}

.Social {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.SocialEffects {
  color: rgb(101, 108, 125);
  &:hover {
    color: #1976d2;
  }
}

.Title {
  font-size: 19px;
  font-weight: 600;
  margin: 20px 0;
}

.Call {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.Links {
  color: rgb(101, 108, 125);
  text-decoration: none;
  &:hover {
    color: #1976d2;
  }
}

.Link {
  color: #1976d2;
  margin-bottom: 10px;
}

.Description {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(101, 108, 125);
}

.Input {
  width: 200px;
  height: 40px;
}

.Follow {
  margin-bottom: 20px;
}

.Author {
  color: rgb(101, 108, 125);
  margin: 20px auto;
  width: 200px;
}
