.mySwiper {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  overflow: hidden;
}

.ImageSlider {
  object-fit: cover;
  width: 430px;
  height: 90%;
  position: relative;
  top: 25px;
}

.Intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  background: #fcfbc8;
}

.Text {
  margin-top: 75px;
  margin-left: 100px;
}

.Title {
  font-size: 32px;
  margin-bottom: 15px;
}

.Subtitle {
  font-size: 22px;
  margin-bottom: 15px;
}
